<div class="container">
  <div class="box">
    <div class="grid-container">

      <h1>Choisis ta partie!</h1>

      <div>
        <div class="grid-home">
          <% @games.each do |game|%>
            <div class="module-home">
              <%= link_to game.id, game_path(game), class: "title"%>
            </div>
          <% end %>
        </div>
      </div>
      <div class="buttons">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-danger"%>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>

